{% extends 'als/base.html' %}

{% block main %}
    <form method="POST">
      {% csrf_token %}
      
        <input type="text" name="username" placeholder="Username..." class="form-control mb-3" />

        <input type="password" name="password" placeholder="Password..." class="form-control mb-3" />

      
        <input value="Login" class="btn btn-primary" type="submit" />
      <div>
        Need an account? <a href="{% url 'register' %}">Register</a>
      </div>
    </form>
{% endblock %}
